* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

a {
    color: darkorange;
}

img {
    width: 100%;
    max-width: 800px;
}


.content {
    width: 100%;
    max-width: 800px;
}


@media (min-width:480px) {
    .content {
        margin-left: 10rem;
    }
}